
.c-card *
  box-sizing: border-box

.c-card
  display: inline-block
  margin: 5px
  margin-bottom: 15px
  cursor: pointer
  text-align: left
  background: #fff
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2)

  &__image
    max-height: 150px
 
  &__title
    font-size: 15px
    line-height: 1.2
    margin: 0
    margin-bottom: 10px
    padding: 0

  &__intro
    margin-bottom: 0
    font-size: 15px

  &__item 
    flex: 1
    text-align: center
    h2
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      color: #3F4A54
    span
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 3
      overflow: hidden

.container 
  vertical-align: text-top
  width: 23vh
  height: 270px
  border: 1px solid #ccc
  border-radius: 10px
  padding: 10px